body{
    font-family: 'helvetica';
    font-size:12px;
    color: #000;
}

a{
    text-decoration:none;
}

@font-face {
	font-family: benthem;
	src:url(../fonts/Benthem-Bold.otf)	
}

.contain{
    width:600px;
    margin:auto;
    position:relative;
}

.personName a{
    font-size: 26px;
    margin-top: 2px;
    color: #AB0202;
    text-decoration: none;
    font-family: 'benthem';
}

.personName a:hover{
    font-size: 26px;
    margin-top: -7px;
    color: #D9AD00;
    text-decoration: none;
}

.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 0px;
  text-decoration: none;
}

.node text {
  font: 10px sans-serif;
  position:absolute;
  z-index:50;
  /*pointer-events: none;
  cursor: pointer;*/
  text-shadow: 0px 0px 3px #ffffff;
  filter: dropshadow(color=#ffffff, offx=0, offy=0);
 
}

line.link {
  fill: none;
  stroke: #C4C2C2;
  stroke-width: 2px;
}

#close{
    font-size: 30px;
    color: #fff;
    width: 10px;
    height: 40px;
    background-color: #000;
    float: right;
    margin: 0px 5px 0px 0px;
    padding: 7px 16px 0px 10px;
    cursor: pointer;
}

.box{
    width: 407px;
    height: 275px;
    margin-left: 84px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 8px;
    border-radius: 5px;
    margin-top: -544px;
    position: absolute;
    z-index: 102;
    background-color: #fff;
    padding: 25px 0px 0px 20px;
    -webkit-box-shadow: inset 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}

#boxShadow{
    width:500px;
    height:412px;
    margin-left:47px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top:-600px;
    position:absolute;
    z-index:101;
    background-image: url(../images/film.png);
    -webkit-box-shadow:  5px 6px 10px 3px rgba(0, 0, 0, 0.4);
    box-shadow:  5px 6px 10px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:  5px 6px 10px 3px rgba(0, 0, 0, 0.4);
    
}

.profile{
    float:left;
    margin-right: 15px;
}